:root {
    --primary-color: #a435f0;
    --secondary-color: #b4690e;
    --gray-color: #f8f9fb;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #222222;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    width: calc(100% - 3rem);
    max-width: 1100px;
    margin: 0 auto;
}

.navbar__container {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo {
    display: flex;
    align-items: center;
}

.navbar__logo-icon {
    font-size: 1.75rem;
    margin-right: .5rem;
    color: var(--primary-color);
}

.navbar__logo-text {
    font-size: 1.25rem;
    font-weight: 700;
}

.nav {
    align-self: stretch;
}

.nav__list {
    height: 100%;
}

.nav__item {
    height: 100%;
    align-items: center;
    display: flex;
}

.nav__item--cart {
    position: relative;
}

.cart {
    display: none;
    position: absolute;
    padding-top: 4px;
    width: 300px;
    top: 100%;
    right: 0;
    z-index: 100;
}

.cart__list {
    background-color: #ffffff;
}

.cart__item {
    display: flex;
    align-items: center;
    padding: .75rem;
    border-bottom: 1px solid #e5e5e5;
}

.cart__item:last-of-type {
    border-bottom: 0;
}

.cart__img-container {
    margin-right: .75rem;
}

.cart__img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.cart__title {
    font-size: 1.125rem;
}

.cart__instructor {
    font-size: 0.875rem;
    color: #555758;
    margin-top: .25rem;
}

.cart__price {
    font-weight: 700;
    margin-top: .25rem;
}

.cart__resume {
    background-color: #ffffff;
    padding: .75rem;
    border-top: 1px solid #222222;
}

.cart__total {
    font-size: 1.25rem;
    font-weight: 700;
}

.cart__remove-btn {
    margin-top: .75rem;
    display: block;
    width: 100%;
    background-color: var(--primary-color);
    text-align: center;
    padding: .75rem 1rem;
    color: #ffffff;
    font-weight: 700;
}

.cart__empty {
    background-color: #ffffff;
    padding: 2rem 1rem;
    text-align: center;
    color: #555758;
    font-size: 1.125rem;
}

.nav__item--cart {
    padding-left: 1rem;
}

.nav__item--cart:hover .cart {
    display: block;
}

.nav__link {
    font-size: 1.5rem;
}

.nav__link--cart {
    position: relative;
}

.nav__link-badge {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: var(--primary-color);
    top: -40%;
    left: 60%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 0.875rem;
}

.hero {
    background-color: var(--gray-color);
}

.hero__container {
    overflow: hidden;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .hero__container {
        align-items: flex-start;
        background-image: url(../img/hero-bg.svg);
        background-repeat: no-repeat;
        background-position: center left calc(400px + 10%);
        background-size: 300px;
    }
}

@media (min-width: 992px) {
    .hero__container {
        padding-left: 4rem;
        background-position: center left calc(400px + 20%);
        background-size: 400px;
    }
}

@media (min-width: 768px) {
    .hero__title {
        font-size: 2.5rem;
    }
}

.hero__title-span {
    color: var(--primary-color);
}

.hero__subtitle {
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .hero__subtitle {
        font-size: 1.125rem;
    }
}

.input-group {
    margin-top: 1rem;
    position: relative;
    width: 282px;
}

.input-group__input {
    width: 100%;
    padding: .5rem 2.25rem .5rem .5rem;
    font-size: 1rem;
    font-family: inherit;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
}

.input-group__btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 2rem;
    font-size: 1.25rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.info {
    background: linear-gradient(to right, #a435f0 0%, #8c19d8 100%);
}

.info__container {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 2rem;
    justify-items: center;
}

@media (min-width: 768px) {
    .info__container {
        grid-template-columns: repeat(2,1fr);
        justify-items: initial;
    }
}

@media (min-width: 992px) {
    .info__container {
        grid-template-columns: repeat(3,1fr);
        gap: 0;
        justify-items: center;
    }
}

.info__data {
    text-align: center;
}

@media (min-width: 768px) {
    .info__data {
        text-align: initial;
    }
}

.info__block {
    color: #ffffff;
    display: flex;
    align-items: center;
}

.info__icon {
    display: none;
}

@media (min-width: 768px) {
    .info__icon {
        margin-right: 1rem;
        font-size: 2.5rem;
        display: block;
    }
}

.info__text {
    margin-top: .5rem;
}

.main {
    background-color: var(--gray-color);
}

.courses__container {
    padding: 4rem 0;
}

.courses__title {
    text-align: center;
    font-size: 2rem;
}

@media (min-width: 768px) {
    .courses__title {
        font-size: 2.25rem;
    }
}

@media (min-width: 992px) {
    .courses__title {
        font-size: 2.75rem;
    }
}

.courses__grid {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1.5rem;
}

@media (min-width: 576px) {
    .courses__grid {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 992px) {
    .courses__grid {
        grid-template-columns: repeat(3,1fr);
    }
}

.course {
    background-color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
}

.course__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.course__data {
    padding: 1rem;
}

.course__instructor {
    margin-top: .25rem;
    font-size: 0.875rem;
    color: #555758;
}

@media (min-width: 768px) {
    .course__instructor {
        font-size: 1rem;
    }
}

.course__rating {
    margin-top: .5rem;
    display: flex;
}

.course__rating-number {
    font-weight: 700;
    font-size: 1.125rem;
    margin-right: .5rem;
    color: var(--secondary-color);
}

.course__stars {
    margin-right: .5rem;
}

.course__star {
    color: var(--secondary-color);
}

.course__number-students {
    color: #555758;
}

.course__price {
    font-weight: 700;
    margin-top: .5rem;
}

.course__add-btn {
    margin-top: 1.5rem;
    display: block;
    width: 100%;
    background-color: var(--primary-color);
    text-align: center;
    padding: .75rem 1rem;
    color: #ffffff;
    font-weight: 700;
}

.footer {
    background-color: #222222;
}

.footer__container {
    padding: 4rem 0;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 2rem;
}

@media (min-width: 576px) {
    .footer__container {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 992px) {
    .footer__container {
        grid-template-columns: repeat(3,1fr);
        column-gap: 1.5rem;
        row-gap: 0;
    }
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__link {
    color: #ffffff;
}